button{
  height: 100px;
  width: 400px;
  box-shadow: 10px 10px silver;
  background-color: rgba(192, 192, 192, 0.474);
  font-family: sans-serif;
  font-size: xx-large;
  border: none;
}
button:hover{
  background-color: goldenrod;
  color: white;
}

button:active{
  box-shadow: 10px 10px silver;
  transform:translateY(10px) ;
}
.p{
  position:absolute;
  left: 450px;
  top: 200px;

}